<div data-mage-init='{"collapsible":{"ajaxContent":true,"saveState":true,"animate":500}}'>
	<strong  data-role="title">this is collapsible content right here! </strong>
	<div data-role="content" style="display: none">
		<p>this is collapsible content right here! </p>
		<p>this is collapsible content right here! </p>
		<p>this is collapsible content right here! </p>
		<p>this is collapsible content right here! </p>
		<p>this is collapsible content right here! </p>
	</div>
</div>
<script type="text/javascript">console.log('js content');</script>